
/********** Fonts ***********/

@font-face {
    font-family: 'akko_bold';
    src: url('/./fonts/akkopro-bold-webfont.woff2') format('woff2'),
         url('/./fonts/akkopro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'akko_light';
    src: url('/./fonts/akkopro-light-webfont.woff2') format('woff2'),
         url('/./fonts/akkopro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'akko_medium';
    src: url('/./fonts/akkopro-medium-webfont.woff2') format('woff2'),
         url('/./fonts/akkopro-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'akko_regular';
    src: url('/./fonts/akkopro-regular-webfont.woff2') format('woff2'),
         url('/./fonts/akkopro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
  font-family: 'akko_regular';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
.App {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.leaflet-container {
  height: 400px;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}
body {
  margin: 0;
  display: flex; 
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
    background: #242a2f;
    font-family: 'akko_regular';
    font-size: 16px;
    color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1, h2, h3, h4, h5 {
    font-family: 'akko_medium';
    margin: 0;
}

h2 {
    text-align: center;
    margin: 1.5rem auto;
}

h3 {
    font-size: 1.5rem;
}

.category, .title, .description, .links {
    padding: 0px 20px;
}

.links {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.tour-1 {
    color: #70405f !important;
}

.tour-2 {
    color: #b85e5b !important;
}

.tour-3 {
    color: #e0ba6d !important;
}

.tour-4 {
    color: #004480 !important;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.mainbutton {
      background: #70405f;
      padding: 10px 15px;
      display: block;
      color: white;
      border: none;
    height: auto;
    line-height: 130%;
    box-shadow: 1px 1px 15px rgba(0,0,0,.5);
    font-family: 'akko_medium';
}

.mainbutton.tour-2 {
    background: #b85e5b;
}

.mainbutton.tour-3 {
    background: #e0ba6d;
}

.mainbutton.tour-4 {
    background: #004480;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.map {
  position: fixed;
  bottom: 2vh;
  right: 3vh;
  z-index: 99;
}

.back-to-map {
  color: black;
}
